@charset "utf-8";
ol,ul { list-style: none;}
body.over_h { overflow: hidden; }
body { overflow-x: hidden; }
.login { }



#loginbox .form-group { }

.login-wrapper { 
	width: 100%; 
	margin:0 auto;

	*padding-bottom: 30px;

}

@media (min-width: 992px) {
	.login-wrapper { width: 70%; }
}


/*index*/
.header { 
	height: 50px; 
	background-color: #428bca; 
	color: #fff;
	padding: 0 30px;
	overflow: hidden;
}
.header h1 { 
	padding: 0; margin: 0; 
	line-height: 50px; 
	font-size: 24px;
	font-weight: 600;
	text-indent: 2em;
	float: left;
}
.header .right-area {
	float: right;
	zoom:1;
	overflow: hidden;
	margin-top: 15px;
}
.header .right-area .welcome{
	width: 500px;
	float: left;
}
.header .right-area .icons{
	float: right;

}

.header .right-area .icons a {
	color: #fff;
	margin-right: 8px;
	text-decoration: none;
	outline: none;
}
.header .icons a:hover {
	color: #eee;
}
#content { 
	overflow: hidden;

	

}

.left-side {
	background-color: #f5f5f5;
	padding-right: 8px;

	position: relative;
	z-index: 2;
	overflow: hidden;

	transition: width .4s;
	-moz-transition: width .4s; 
	-webkit-transition: width .4s; 
	*margin-left: -20px;
	*padding-right: -20px;
}

#content .heading {
	height: 50px;
	line-height: 50px;
	margin:0 -15px; 
	
	overflow: hidden;
	background-color: #d9edf7; 
}

#content .heading h3 {
	margin: 0;
	line-height: 50px; 
	
	margin-left: 30px;
}
.nav-box {   
	overflow-y: auto;
	color: #333333;
	margin-left: 20px;
	position: relative;
	z-index: 1;
	
	
}

.left-side .on-off {
	position: absolute;
	right: 0; top: 0;
	width: 8px; height: 100%;
	background-color: #8ec5e0;
}




.left-side .on-off .togo {
	position: absolute;
	left: 0; top: 45%;
	display: block;
	width: 8px; height: 48px;
	cursor: pointer;
	background: url(../images/mini-left.png) 0 0 no-repeat #a0c1d2;
}

.left-side .on-off .togo:hover {
	background-color: #bed2dc;
}

#content .row .main { 
	overflow-y: auto;
	
	width: auto;
	*margin:0;
}

#content .content {

}

.heading-main {
	padding: 0 3%;
	height: 50px;
	line-height: 50px;

	overflow: hidden;
	background-color: #d9edf7; 
}
.heading-main .left-area {
	float: left;
	
	
}
.heading-main .left-area p {
	float: left;
}
.heading-main .main-nav { 
	float: left;
	background-color: transparent;
	margin: 0;
	padding: 0;
}
.heading-main .main-nav li{
	float: left;
	
}
.heading-main .main-nav span {
	margin: 0 4px;
}
.heading-main .right-area{  
	float: right;
	overflow: hidden;

	

}

.heading-main .right-area a {
	margin-right: 8px;
}


.nav .nav { margin-left: 30px;}
.nav .nav { display: none;}
li.active > .nav { display: block;}


#content .content iframe {
	width: 100%;
	height: 100%;
}

/*模态框*/
.index-modal1 {
	position: absolute;
}
.modal-header {
	cursor: move;
}
.modal-header .breadcrumb {
	background-color: inherit;
	margin-bottom: 0;
}

.index-modal1 .modal-body {
	padding: 30px 20px 20px 20px;
}

.index-modal1 .modal-body .form-group{
	overflow: hidden;
}
.modal-body table .control-label {
	margin-top: 0;
  	margin-bottom: 0;
  	padding-top: 7px;
  	text-align: right;
}


.modal-body .radio-td .radio-content{
	padding-top: 7px;
	text-align: left;
}

.modal-body .radio-td .radio-content input {
	margin-right: 6px;
}

.modal-body table {
	margin-bottom: 0;
}

.modal-body table .form-control-static {
	padding-top: 7px;
	text-align: left;	
}

/*外面iframe样式*/
.form-item { 
	width: 90%; 
	margin: 80px auto 0;
}

.form-item .form-horizontal .form-group-content input {
	width: 20%;
}
.table  th,.table  td { text-align: center;}
.table .opera span{
	margin: 0 4px;
}
.panel .table { border-bottom:1px solid #DDDDDD; }

.form-item .pager-box {
	width: 89%; 
	text-align: right; 

}

.form-user-item {
	margin-top: 80px;
	width: 90%;
	margin: 80px auto 0;

}

.input-group label {
	display: table-cell;
}
/*对话框*/

.modal .self-dialog { 
	width: 800px; 

}
 .modal .self-modal-footer{
 	width: 85%;
 }
/*IE 7兼容*/
.form-inline {
	overflow: hidden;
	zoom:1;
	*line-height: 35px;
}
.form-inline > span, .form-inline > .form-group, .form-inline > button {
	*float: left;
}

.form-inline > .form-group {
	*width: 120px;
	*margin:0 8px;
}
.form-inline > .form-group input {
	*padding: 0;
	*margin:0;
}

.input-group {
	overflow: hidden;
	zoom: 1;
}

.input-group > input ,.input-group > span{

	*float: left;
}
.input-group > input {
	*width: 120px !important;
	*margin-right: 20px;

}

.input-group > span > .btn {
	*padding: 6px 15px;
	.margin-top: 6px;
	
}

._pagers {
	*position: relative;
	*left: 40%;
}


/*5.19设计的表格*/
.form-item2 {
	overflow: hidden;
	zoom:1;
	margin: 20px;
	border: 2px solid #accaec;
}

.iframe-side{
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.form-item2 .iframe-leftside {
	margin: 0;
	padding: 0;
	overflow: hidden;
	
		
}

.inin-heading{
	height: 30px;
	background-color: #accaec;
}

.inin-heading h3 {
	margin: 0;
	line-height: 35px;
	font-weight: bold;
	color: #fff;
	padding-left: 30px;
	font-size: 15px;
}

.iframe-dtree{
	padding-left: 20px;
	overflow-y: auto;


}
.iframe-dtree span {
	color: #83969f;
}
.iframe-dtree  .nav-box > li:nth-child(1){
	position: relative;
	left: -15px;
	cursor: default;
}

.iframe-dtree .nav-box > li:nth-child(1) a:hover {
	background-color: inherit;
}
.form-item2 .iframe-rightside {
	border-left: 2px solid #accaec;


}

.form-item2 .iframe-rightside .heading{
	margin: 0 -15px;
}

.inin-content  {
	width: 90%;
	overflow:hidden;
	margin: 0 auto;
}
.inin-content table caption {
	text-align: left;
	text-indent: 2em;
	background-color: #eee;
	height: 30px;
	line-height: 30px;
}

.inin-content table input, .inin-content table select {
	display: inline-block;
	width: auto;
}
.inin-content table tfoot td {
	text-align: right;
	padding-right: 10%;
}
.inin-content table .jiange {
	margin: 0 8px;
}

.error-tip { color: red; line-height: 30px; font-weight: 600;}
.onShow,.onFocus,.onError,.onCorrect,.onLoad,.onTime{display:inline-block;display:-moz-inline-stack;zoom:1;*display:inline; vertical-align:middle;background:url(../images/msg_bg.png) no-repeat;	color:#444;line-height:18px;padding:2px 10px 2px 23px; margin-left:10px;_margin-left:5px}
.onShow{background-position:3px -147px;border-color:#40B3FF;color:#959595}
.onFocus{background-position:3px -147px;border-color:#40B3FF;}
.onError{background-position:3px -47px;border-color:#40B3FF; color:red}
.onCorrect{background-position:3px -247px;border-color:#40B3FF;}
.onLamp{background-position:3px -200px}
.onTime{background-position:3px -1356px}

.mrt-80 { margin-top: 80px;}
.mrt-20 { margin-top: 20px;}
.mrt-40 { margin-top: 40px;}
.h40 { width: 100%; height: 40px; overflow: hidden; }
.over-h { overflow: hidden;}

